  mat-select {
    width: fit-content !important;
    min-width: 100%;
  }
  ::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
  }
  ::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 2ch;
    max-width: 25ch;
  }
  ::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
  }

  .test {
    text-align: center;
  }

  .box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
}

  .height_todayTaskForm {
    height: 50%;
    margin: 15px;
  }

  .display_inline {
    display: inline;
  }

  .display_inline-block {
    display: inline-block;
  }

  .centering_item {
    width: 500px;
    margin:  0 auto;
  }
